.switch__input {
  appearance: none;
  position: relative;
  width: var(--width);
  height: 1.2rem;
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  /* Variables */
  --width: 2.4rem;
}

/* Estilo del círculo interior */
.switch__input::before {
  content: "";
  position: absolute;
  height: 75%;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

/* Cambiar el fondo cuando esté activado */
.switch__input:checked::before {
  background-color: #4d4d4d;
  transform: translate(110%, -50%);
}
